.pageContainer {
  height: 140vh;
  width: 98.7vw;
  position: relative;
  display: flex;
  background: #100e1d;
}
.pageContainerRight {
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #100e1d;
}
.pageContainerRight__Top {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.pageContainerRight__Bottom {
  height: 2%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.pageContainerRight__Bottom p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a09fb1;
}
@media screen and (max-width: 750px) {
  .pageContainer {
    height: auto;
    flex-wrap: wrap;
  }
  .pageContainerRight {
    width: 100%;
  }
  .pageContainerRight__Bottom {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
